*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif";
   /* scroll-padding-top: 11.5rem;
    scroll-behavior: smooth;*/ estava dando problema 
    
}

:root{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

 header{
    background:oklch(45% 0.085 224.283) ;
    position: fixed;/* bom para o trabalho*/
    width: 100%; /* bom para o trabalho*/
    z-index: 10;
 }

 .header-container{
    max-width: 120rem;
    margin-inline: auto;
    text-align: center;
    padding-block: 2rem;
    color: #fff;

    h1{
        margin-bottom: 1rem;
    }

      ul{
        list-style: none;
        display: flex;
        gap: 6rem;
        justify-content: center;
      }

      a{
        color: #fff;
        text-decoration: none ;
    }

    li:hover{
        transform: scale(1.1);
        font-weight: 700;
        transition: .4s;
    }
}

main {
  background: oklch(91.7% 0.08 205.041);
 min-height:calc(100svh-10.8rem);
}

.main-container {
    padding-block: 14.8rem 4rem;
    max-width: 120rem;
    margin: 0 auto;
    text-align: center;

h2{
     margin-bottom: 2rem;
}

p{
    max-width: 60rem;
    margin-inline: auto;
    line-height: 2.5rem;/* preciso mudar o trabalho do marcio, para as meninas colocarem iisso*/
}
 section{
    margin-bottom: 4rem;

    div{
        width: 6rem;
        height: 6rem;
        background: oklch(98.4% 0.003 247.858);
        margin-inline: auto;
        margin-bottom: 1.5rem;
    }
    .blue{
        background: oklch(60.9% 0.126 221.723);
    }
 }
 mark{
    background: oklch(54.1% 0.281 293.009);
 }

 #relative{
    .blue{
        position: relative;
        bottom: 3rem;
        left: 3rem;

    }
 }
#absoulute{
    .blue{
        position: absolute;
        bottom: 2rem;
        left: 2rem;
    }
}

}

.arrow{
    background:oklch(45% 0.085 224.283) ;
    width: fit-content;
    padding: 1rem;
    border-radius: 50%;
    position: fixed;
    bottom: 5rem;
    right: 4rem;
}